$palettes:(
    UCD: (
    darkblue: #173673,
    teal: #038C7E,
    red: #F24968,
    yellow: #F2E96D,
    brown: #8C5637,    
    ),
    UCD-rgb: (
    darkblue: rgb(0,39,52),
    blue: rgb(0,99,132),
    red: rgb(194,60,17),
    darkred: rgb(132,44,35),
    darkestred: rgb(47,15,14),
    )
);